<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Tirehub_BubbleHint::tirehub_bubblehint"
            title="Bubble Hint" translate="title"
            module="Tirehub_BubbleHint"
            parent="Tirehub_Utility::root"
            sortOrder="20"
            action="tirehub_bubblehint/bubblehint/index"
            resource="Tirehub_BubbleHint::Hint"/>
    </menu>
</config>
