<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<punchout>
			<customer>
				<email_template>Punchout_shiptoID@tirehub.com</email_template>
			</customer>
			<dev>
				<is_debug_mode>1</is_debug_mode>
			</dev>
		</punchout>
	</default>
</config>
