<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Tirehub_TransferNetwork::transfernetwork" title="Transfer Network" sortOrder="100">
                    <resource id="Tirehub_TransferNetwork::location" title="Locations" sortOrder="10"/>
                    <resource id="Tirehub_TransferNetwork::color" title="Colors" sortOrder="12"/>
                    <resource id="Tirehub_TransferNetwork::relation" title="Relations" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>