<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="transfernetwork_location_listing_data_source" xsi:type="string">transfernetwork_location_listing_collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Listing Collection -->
    <virtualType name="transfernetwork_location_listing_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tirehub_transfernetwork_location</argument>
            <argument name="resourceModel" xsi:type="string">Tirehub\TransferNetwork\Model\ResourceModel\Location</argument>
        </arguments>
    </virtualType>
</config>