<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\SectionPool">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="punchout" xsi:type="string">Tirehub\Punchout\CustomerData\Punchout</item>
            </argument>
        </arguments>
    </type>
    <type name="Tirehub\Checkout\Api\IsDeniedB2BOrderingInterface">
        <plugin name="puchout_mode" type="Tirehub\Punchout\Plugin\Checkout\IsDeniedB2BOrdering" sortOrder="20" />
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="punchout_config_provider" xsi:type="object">Tirehub\Punchout\Model\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
