<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tirehub_TransferNetwork::transfernetwork"
                title="Transfer Network"
                module="Tirehub_TransferNetwork"
                sortOrder="100"
                resource="Tirehub_TransferNetwork::transfernetwork"/>
        <add id="Tirehub_TransferNetwork::locations"
                title="Locations"
                module="Tirehub_TransferNetwork"
                sortOrder="10"
                parent="Tirehub_TransferNetwork::transfernetwork"
                action="transfernetwork/location"
                resource="Tirehub_TransferNetwork::location"/>
        <add id="Tirehub_TransferNetwork::colors"
                title="Colors"
                module="Tirehub_TransferNetwork"
                sortOrder="12"
                parent="Tirehub_TransferNetwork::transfernetwork"
                action="transfernetwork/color"
                resource="Tirehub_TransferNetwork::color"/>
        <add id="Tirehub_TransferNetwork::relations"
                title="Relations"
                module="Tirehub_TransferNetwork"
                sortOrder="15"
                parent="Tirehub_TransferNetwork::transfernetwork"
                action="transfernetwork/relation"
                resource="Tirehub_TransferNetwork::relation"/>
        <add id="Tirehub_TransferNetwork::upload"
                title="Upload Locations"
                module="Tirehub_TransferNetwork"
                sortOrder="20"
                parent="Tirehub_TransferNetwork::transfernetwork"
                action="transfernetwork/location/uploadPage"
                resource="Tirehub_TransferNetwork::location"/>
    </menu>
</config>
